{
  parser: "babel-eslint",
  "plugins": [
    "react",
  ],

  "env": {
    "browser": true,
    "es6": true,
  },

  "rules": {
    "max-len": [1, 90, 2, {ignoreComments: true}],
    "react/prop-types": [2],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prefer-stateless-function": 0,
    "jsx-a11y/anchor-is-valid": 1,
    "no-param-reassign": 0,
    "one-var-declaration-per-line": [2, "initializations"],
    "one-var": [2, "always"],
    "no-unused-vars": 1,
  },
  "extends": ["airbnb"]
}
