.main-container {
  width: 100vw;
  height: calc(100vh - #{$nav-height}px);
  background: theme-color('dark');
  & .content-start, .contend-end{
    width:  100%;
    height: 10%;
    color: gray("500");
  }

  & .content-start{
    .share-buttons {
      display: flex;
    }

    & span {
      margin: 0px 5px;
    }

    & svg {
      width: 45px;
      height: 45px;
    }

    & .sp-btn{
      height: 53px;
      & div {
        width: 45px !important;
        height: 45px !important;
      }
    }
  }

  & .content-main {
    height: 80%;
    & .img-container{
      height: 70%;
      padding-top: 10px;
    }

    & .predict-button {
      width: 100px;
      height: 50px;
    }
    & .try-button {
      width: 220px;
      height: 50px;

      & input {
        width: 100%;
        height: 100%;
        position: absolute;
      }
    }
    & .alert {
      margin: 0px 5px;
      & .progress {
        width: 220px;
      }

      & .progress-num {
        margin-left: 10px;
        color: theme-color('primary');
      }
    }

    & .carousel-item {
      & .center-display{
        width: 70vw;
        height: 40vh;
        background: theme-color('dark');

        & img {
          max-width: 100%;
          max-height: 100%;
          width: auto !important;
          height: auto !important;
        }
      }
    }
  }
}
