.main-container {
  background: theme-color('dark');
  overflow: hidden;
  & .content-start, .contend-end{
    width:  100%;
    height: 10%;
  }

  & .contend-end {
    color: gray("500");
    & .modal{
      color: theme-color('dark');
      & a {
        display: block;
      }
    }
    & .fish-list-button {
      width: 80px;
      height: 44px;
    }
  }

  & .content-start{
    .share-buttons {
      display: flex;
    }

    & span {
      margin: 0px 5px;
    }

    & svg {
      width: 45px;
      height: 45px;
    }

    & .sp-btn{
      height: 53px;
      & div {
        width: 45px !important;
        height: 45px !important;
      }
    }
  }

  & .content-main {
    height: 80%;
    & .img-container{
      height: 70%;
      padding-top: 10px;
    }

    & .predict-button {
      width: 100px;
      height: 50px;
    }
    & .try-button {
      width: 220px;
      height: 50px;

      & input {
        width: 100%;
        height: 100%;
        position: absolute;
      }
    }
    & .alert {
      margin: 0px 5px;
      & .progress {
        width: 220px;
      }

      & .progress-num {
        margin-left: 10px;
        color: theme-color('primary');
      }
    }

    & .carousel-item {
      & .center-display{
        width: 70vw;
        height: 40vh;
        background: theme-color('dark');

        & img {
          max-width: 100%;
          max-height: 100%;
          width: auto !important;
          height: auto !important;
        }
      }
    }
  }
}
