.main-container {
  width: 100vw;
  height: calc(100vh - #{$nav-height}px);
  background: theme-color('dark');
  & .content-start, .contend-end{
    width:  100%;
    height: 10%;
    color: gray("500");
  }

  & .content-start{
    .share-buttons {
      display: flex;
    }

    & span {
      margin: 0px 5px;
    }

    & svg {
      width: 45px;
      height: 45px;
    }

    & .sp-btn{
      height: 53px;
      & div {
        width: 45px !important;
        height: 45px !important;
      }
    }
  }

  & .content-main {
    height: 80%;
    & .img-container{
      height: 80%;
    }

    & #predict {
      width: 100px;
      height: 50px;
    }

    & .carousel-item {
      & .center-display{
        width: 80vw;
        height: 50vh;
        background: theme-color('dark');

        & img {
          max-width: 100%;
          max-height: 100%;
          width: auto !important;
          height: auto !important;
        }
      }
    }
  }
}
